<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>19/03/29 09:53:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Arbella_Login.Arbella_login()[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">Arbella_login</td> 
  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>19/03/29 09:53:01</td>   <td>-220</td> <td title="&gt;&gt;TestEngine.first(org.testng.ITestContext)[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">&gt;&gt;first</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>19/03/29 09:53:01</td>   <td>-12</td> <td>&nbsp;</td><td title="&gt;&gt;TestEngine.startTest(org.testng.ITestContext)[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
</table>
