<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Andrella</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0a365">  <td>19/03/18 23:41:50</td>   <td>0</td> <td title="&gt;&gt;TestEngine.first(org.testng.ITestContext)[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">&gt;&gt;first</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>19/03/18 23:41:51</td>   <td>366</td> <td>&nbsp;</td><td title="&gt;&gt;TestEngine.startTest(org.testng.ITestContext)[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>19/03/18 23:41:51</td>   <td>381</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngine.first(org.testng.ITestContext, java.lang.String)[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">&gt;&gt;first</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>19/03/18 23:41:51</td>   <td>397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngine.reportHeader(java.lang.reflect.Method, org.testng.ITestContext, java.lang.String)[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">&gt;&gt;reportHeader</td> 
<td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>19/03/18 23:42:07</td>   <td>16653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Arbella_Login.Arbella_login()[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">Arbella_login</td> 
  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>19/03/18 23:42:12</td>   <td>21821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngine.tearDown(java.lang.String)[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>19/03/18 23:42:19</td>   <td>28368</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngine.close(java.lang.String)[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>19/03/18 23:42:19</td>   <td>28371</td> <td>&nbsp;</td><td title="&lt;&lt;TestEngine.closeTest()[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">&lt;&lt;closeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>19/03/18 23:42:19</td>   <td>28980</td> <td title="&lt;&lt;TestEngine.tearDownFirefox(org.testng.ITestContext, java.lang.String)[pri:0, instance:com.Arbella.tests.Arbella_Login@27a5f880]">&lt;&lt;tearDownFirefox</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@813656972</td>   <td></td> </tr>
</table>
