<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Arbella</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fad9d">  <td>19/03/29 13:32:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Arbella_Login.Arbella_login()[pri:0, instance:com.Arbella.tests.Arbella_Login@5f282abb]">Arbella_login</td> 
  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>19/03/29 13:41:36</td>   <td>575757</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngine.close(java.lang.String)[pri:0, instance:com.Arbella.tests.Arbella_Login@5f282abb]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>19/03/29 13:41:36</td>   <td>575757</td> <td>&nbsp;</td><td title="&lt;&lt;TestEngine.closeTest()[pri:0, instance:com.Arbella.tests.Arbella_Login@5f282abb]">&lt;&lt;closeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>19/03/29 13:31:40</td>   <td>-20091</td> <td title="&gt;&gt;TestEngine.first(org.testng.ITestContext)[pri:0, instance:com.Arbella.tests.Arbella_Login@5f282abb]">&gt;&gt;first</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>19/03/29 13:31:41</td>   <td>-19888</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngine.first(org.testng.ITestContext, java.lang.String)[pri:0, instance:com.Arbella.tests.Arbella_Login@5f282abb]">&gt;&gt;first</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>19/03/29 13:31:41</td>   <td>-19888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngine.reportHeader(java.lang.reflect.Method, org.testng.ITestContext, java.lang.String)[pri:0, instance:com.Arbella.tests.Arbella_Login@5f282abb]">&gt;&gt;reportHeader</td> 
<td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>19/03/29 13:31:41</td>   <td>-19888</td> <td>&nbsp;</td><td title="&gt;&gt;TestEngine.startTest(org.testng.ITestContext)[pri:0, instance:com.Arbella.tests.Arbella_Login@5f282abb]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>19/03/29 13:41:30</td>   <td>569377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngine.tearDown(java.lang.String)[pri:0, instance:com.Arbella.tests.Arbella_Login@5f282abb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>19/03/29 13:41:37</td>   <td>576138</td> <td title="&lt;&lt;TestEngine.tearDown(org.testng.ITestContext, java.lang.String)[pri:0, instance:com.Arbella.tests.Arbella_Login@5f282abb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
</table>
